/* OLD
Página de Contato
/*.form-contato {
    margin-top:20px;
}
.mapa-contato {
    width:100%;
    min-height:400px;
    border:none;
    float:left;
    display:block
}

#home h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

#home{
    text-transform: uppercase;
    background: url(imagens/main/contato/banner-quem.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    color: #FFF;
    border-bottom: 7px solid var(--main);
}

#home a,  #home strong{
    color: #FFF !important;
}

#home h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}
.p{
    padding: 0 15px;
}

#home i{
    margin-right: 10px;
    color: #cc9131;
}

.inst-cont{
    background: var(--main);
    border-radius: 4px;
    color: #FFF;
    padding: 20px;
}

.inst-cont a{
    color: #FFF;
}

.inst-cont i{
    color: var(--secondary);
    background: #FFF;
    border-radius: 100%;
    font-size: 1.2em;
}

.inst-cont i:not(.fa-envelope){
    padding: 15px 17px;
}

.inst-cont i:not(.fa-map-marker-alt){
    padding: 15px;
}

.inst-cont div{
    margin: 30px 0;
}

.total-cont{
    padding: 0 55px;
}

.bg{
    background: #FFF;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    border-radius: var(--bradius);
    justify-content: center;
    margin-top: -85px;
}

.rev{
    padding: 35px 0 50px 0;
}

#contato button{
    background: var(--main) !important;
    color: #FFF !important;
    border-color: var(--main) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1082px){
    .side-cont{
        width: 8.5%;
    }
}

@media screen and (min-width: 1082px) {
    .side-cont{
        width: 5%;
    }
}

#contato .form-contato{
    margin: 0;
}

form{
    margin: 0 auto;
}

.ul-cont-s li{
    line-height: 3;
}

.ul-cont-s i:not(.fa-facebook-f, .fa-instagram){
    padding: 8px;
}

.ul-cont-s i{
    color: #FFF;
    border-radius: 100%;
    background: var(--secondary);
}

.ul-cont-s i.fa-instagram{
    padding: 8px 9px;
}

.ul-cont-s i.fa-facebook-f{
    padding: 8px 11px;
}

.side-cont{
    background: #222;
    padding: 10px;
    border-radius: 0 var(--bradius) var(--bradius) 0;
}

@media screen and (max-width: 991px){
    .total-cont{
        padding: 0px;
    }
}
@media screen and (max-width: 767px){
    .side-cont {
        background: #222;
        padding: 10px;
        border-radius: var(--bradius) var(--bradius) 0 0;
    }
    .inst-cont {
        background: var(--main);
        border-radius: 0 0 16px 16px;
    }
    .ul-cont-s{
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }
}
@media screen and (max-width: 40em){
    .ul-cont-s li {
        line-height: 3;
        margin: 0 20px;
    }
    #contato .form-contato {
        margin-top: 20px;
    }
    #contato button {
        width: 100%;
    }
    .rev{
        flex-wrap: wrap-reverse;
    }
    .bg{
        margin: 0;
    }
    #home{
        padding: 25px 0;
    }
    .pp{
        padding: 0;
    }
}
*/

/* Página de Contato */
.form-contato {
    margin-top:20px;
}
.mapa-contato {
    width:100%;
    min-height:400px;
    border:none;
    float:left;
    display:block
}

#home h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    color: #FFF;
}

#home{
    text-transform: uppercase;
    background: var(--secondary);
    padding: 40px 0;
    color: #FFF;
    border-bottom: 7px solid var(--main-strong);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.7);
}

#home a,  #home strong{
    color: #FFF !important;
}

#home h2{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
}
.p{
    padding: 0 15px;
}

#home i{
    margin-right: 10px;
    color: #000;
}

/**/
.inst-cont{
    background: var(--main);
    border-radius: 10px;
    color: #FFF;
    padding: 16px 32px;
    margin: 8px 8px 8px 0;
}

.inst-cont h3 {
    font-size: clamp(1.1rem,3vw,1.375rem);
    font-weight: 600;
    color: #FFF;
}

.inst-cont h4 {
    color: #FFF;
    font-weight: 500;
    font-size: clamp(1rem,5vw,1.125rem);
}

.inst-cont p {
    font-family: var(--font);
    color: #cccccc;
    max-width: 398px;
    width: 100%;
}
.inst-cont ul,
.inst-cont a {
    font-family: var(--font);
    color: #FFF;
}

.inst-cont a:hover {
    color: #cccccc;
}

.inst-cont p, 
.inst-cont ul li,
.inst-cont a {
    font-size: clamp(13px,3vw,1rem);
    word-break: break-all;
} 

.inst-cont i{
    color: var(--white);
    font-size: 1rem;
    width: 40px;
}

.inst-cont i:not(.fa-envelope){
    padding:  15px 15px 15px 15px;
}

.inst-cont i:not(.fa-map-marker-alt){
    padding:  15px 15px 15px 15px;
}

.inst-cont div{
    margin: 30px 0;
}

.inst-cont .social-media {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.inst-cont .social-media h3 {
    font-size: clamp(1rem,3vw,1.125rem);
    font-weight: 500;
    color: #FFF;
}

.inst-cont .social-media i{
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    padding: 12px;
}

.inst-cont .social-media i:hover {
    background-color: var(--secondary);
    color: #FFF;
    border-radius: 50%;
}

.total-cont{
    padding: 0 55px;
}

.bg{
    background: #FFF;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    border-radius: var(--bradius);
    justify-content: center;
    margin: 36px 0 60px 0;
}

/* .rev{
    padding: 35px 0 50px 0;
} */

#contato button{
    display: inline-block;
    background: var(--main) !important;
    color: #FFF !important;
    border-color: var(--main) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    width: 210px;
    border-radius: 10px;
    padding: 14px 0;
    font-family: var(--font);
    transition: all .2s linear;
}

#contato button:hover {
    background-color: var(--main-strong) !important;
}

@media screen and (min-width: 768px) and (max-width: 1082px){
    .side-cont{
        width: 8.5%;
    }
}

@media screen and (min-width: 1082px) {
    .side-cont{
        width: 5%;
    }
}

#contato .form-contato{
    margin: 0;
}

form{
    margin: 0 auto;
}

.ul-cont-s li{
    line-height: 3;
}

.ul-cont-s i:not(.fa-facebook-f, .fa-instagram){
    padding: 8px;
}

.ul-cont-s i{
    color: #FFF;
    border-radius: 100%;
    background: var(--secondary);
}

.ul-cont-s i.fa-instagram{
    padding: 8px 9px;
}

.ul-cont-s i.fa-facebook-f{
    padding: 8px 11px;
}

.side-cont{
    background: #222;
    padding: 10px;
    border-radius: 0 var(--bradius) var(--bradius) 0;
}

@media screen and (max-width: 991px){
    .total-cont{
        padding: 0px;
    }
}
@media screen and (max-width: 767px){
    .side-cont {
        background: #222;
        padding: 10px;
        border-radius: var(--bradius) var(--bradius) 0 0;
    }
    .inst-cont {
        background: var(--main);
        margin: 15px 0;
        margin-right: 0;
    }
    .ul-cont-s{
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }
}
@media screen and (max-width: 40em){
    .ul-cont-s li {
        line-height: 3;
        margin: 0 20px;
    }
    #contato .form-contato {
        margin-top: 20px;
    }
    #contato button {
        width: 100%;
    }
    .rev{
        flex-wrap: wrap-reverse;
    }
    .bg{
        margin: 0;
    }
    #home{
        padding: 25px 0;
    }
    .pp{
        padding: 0;
    }
}